@media (max-width: 767px) {
    .smart-wrap .sub-section .sub-section_col {
        flex-basis: 80%;
    }
}

@media (min-width: 992px) {
    header nav {
        padding: 30px 0;
    }
    nav label {
        display: none;
    }
    nav .active-btn {
        display: block;
    }
    .nav-links {
        position: static; top: 0; left: 0;
        transform: none;
        opacity: 1;
        background-color: transparent;
        transition: none;
    }
    .nav-links ul {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .nav-links ul li {
        padding: 0;
        margin: 0 20px;
    }
    .nav-links ul li a {
        color: #5a5a5a;
        transition: opacity 0.4s, color 0.4s;
    }
    .nav-links ul li a:hover {
        opacity: 1;
        color: #292929;
    }
    .banner-intro .container {
        padding: 200px 0;
    }
    .container {
        max-width: 1140px;
    }
    .c-wide {
        max-width: 95%;
    }
    .sub-section {
        flex-wrap: nowrap;
    }
    .smart-wrap .sub-section {
        flex-wrap: wrap;
    }
    .smart-wrap .sub-section .sub-section_col {
        flex-basis: 30%;
    }
    .sub-section .text-sub-section_wrap {
        flex-basis: 31%;
        margin-top: 0;
        text-align: left;
    }
    .sub-section .img-sub-section_wrap {
        flex-basis: 60%;
    }
    .sub-section_col {
        flex-basis: 29%;
        text-align: left;
    }
    .banner-content h1 {
        font-size: 4rem;
        margin-bottom: 0.2em;
    }
    .banner-content p {
        font-size: 1.2rem;
        margin: 0;
    }
    .section-bottom .container {
        padding: 120px 0;
    }
    .bottom-content {
        max-width: 750px;
    }
    .bottom-content h2 {
        font-size: 2.3rem;
    }
    .bottom-content p {
        font-size: 1.2rem;
    }

    
    /* ****ABOUT.HTML**** */

    .service-content {
        max-width: 30ch;
        margin-inline: auto;
    }


    /* ****CONTACT.HTML**** */
    
    .contact-sub-section {
        width: 100%;
        text-align: left;
        margin-inline: auto;
    }
    .contact-form {
        padding: 70px 50px;
        flex-basis: 65%;
    }
    .adress-col {
        margin: 0;
        flex-basis: 28%;
    }
}