/* *** Media Query - Desktop version *** */

@media (min-width: 767px) and (max-width: 991px) { /* Breakpoint for smart-wrap ONLY */
    .smart-wrap-col {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    }
}

@media (min-width: 992px) { /* Desktop */

    .container {
        max-width: 1140px;
    }
    .c-wide {
        max-width: 95%;
    }

    /* ------- Flexbox layout ------- */
    .sub-section {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .sub-section-col {
        -ms-flex-preferred-size: 29%;
            flex-basis: 29%;
        text-align: left;
    }
    .smart-wrap .sub-section {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .smart-wrap-col {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    }

    /* ------- Navbar ------- */
    nav {
        padding: 30px 0;
    }
    nav label {
        display: none;
    }
    nav .active-btn {
        display: block;
    }
    .nav-links {
        position: static; top: 0; left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
        background-color: transparent;
        transition: none;
    }
    .nav-links ul {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }
    .nav-links li {
        padding: 0;
        margin: 0 20px;
    }
    .nav-links a {
        color: #5a5a5a;
        transition: opacity 0.4s, color 0.4s;
    }
    .nav-links a:hover {
        opacity: 1;
        color: #292929;
    }

    /* ------- Top + bottom banners ------- */
    .banner-content h1 {
        font-size: 4rem;
        margin-bottom: 0.2em;
    }
    .banner-content p {
        font-size: 1.2rem;
        margin: 0;
    }
    .bottom-content {
        max-width: 750px;
    }
    .bottom-content h2 {
        font-size: 2.3rem;
    }
    .bottom-content p {
        font-size: 1.2rem;
    }

    /* -------------------------------------- */

    /* ****INDEX.HTML**** */
    .banner-intro .container {
        padding: 200px 0;
    }
    .text-sub-section_wrap {
        -ms-flex-preferred-size: 31%;
            flex-basis: 31%;
        margin-top: 0;
        text-align: left;
    }
    .img-sub-section_wrap {
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    }
    
    /* ****ABOUT.HTML**** */
    .service-content {
        max-width: 30ch;
        margin-inline: auto;
    }

    /* ****CONTACT.HTML**** */
    .contact-sub-section {
        width: 100%;
        text-align: left;
        margin-inline: auto;
    }
    .contact-form {
        padding: 70px 50px;
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%;
    }
    .adress-col {
        margin: 0;
        -ms-flex-preferred-size: 28%;
            flex-basis: 28%;
    }
}