/* *** Reset default HTML browser properties *** */

@font-face {
    font-family: primaryFont;
    src: url(../fonts/Montserrat_wght.ttf)
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
	vertical-align: baseline;
}
html {
    font-family: primaryFont, sans-serif; /* Montserrat font */
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
    font-family: primaryFont, sans-serif; /* Montserrat font */
}
input::-moz-placeholder, textarea::-moz-placeholder {
	box-sizing: border-box;
    font-family: primaryFont, sans-serif; /* Montserrat font */
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	box-sizing: border-box;
    font-family: primaryFont, sans-serif; /* Montserrat font */
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	box-sizing: border-box;
    font-family: primaryFont, sans-serif; /* Montserrat font */
}
input, textarea,
input::placeholder,
textarea::placeholder {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
    font-family: primaryFont, sans-serif; /* Montserrat font */
}

/* HTML5 display reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}