/* *** Styles main file*** *Mobile-first priority* */

:root {
    --clr-primary: #1a1b1f;
}
/* ----------------------- */

.container {
    width: 90%;
    margin-inline: auto;
    text-align: center;
}
.c-wide {
    width: 95%;
}
.section {
    margin-bottom: 110px;
}

/* ------- Flexbox Layout ------- */
.sub-section {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sub-section-col {
    width: 75%;
    margin-inline: auto;
    margin-bottom: 30px;
}
.sub-section-col:last-child {
    margin-bottom: 0;
}
.smart-wrap-col {
    flex-basis: 80%;
}
.align-center {
    align-items: center;
}
.wrap-reverse {
    flex-wrap: wrap-reverse;
}
.direction-reverse {
    flex-direction: row-reverse;
}

/* ------- General element selectors ------- */
h2, p {
    color: var(--clr-primary);
}
h2 {
    font-size: 2.2rem;
    font-weight: 400;
}
h3 {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.2em;
}
p {
    margin: 1.5em 0;
    font-size: 1rem;
    line-height: 1.8em;
}
a {
    text-decoration: none;
    color: var(--clr-primary);
}
ol, ul {
    list-style-type: none;
}
hr {
    opacity: 0.3;
    margin: 70px 0;
}

/* ------- General .class selectors ------- */
.clr-light {
    opacity: 0.6;
}
.active-btn {
    text-transform: uppercase;
    padding: 1.2em 1.9em;
    font-size: 0.75rem;
    letter-spacing: 2px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: #1a1b1f;
    transition: opacity 0.4s;
}
.active-btn:hover {
    opacity: 0.9;
}
.banner {
    margin-bottom: 100px;
}
.label {
    text-transform: uppercase;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
    font-size: 0.8em;
}
.sub-section img {
    max-width: 100%;
    margin-inline: auto;
}
.sub-section .text-sub-section_wrap {
    margin-top: 50px;
}
.banner-bottom .container {
    padding: 100px 0;
    text-align: center;
    background-color: rgb(235, 234, 234);
}
.bottom-content {
    width: 80%;
    margin-inline: auto;
}
.bottom-content h2 {
    font-size: 2rem;
}
.bottom-content .active-btn {
    font-size: 0.9rem;
}
.footer_ {
    width: 90%;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.1rem;
}


/* ------- Header & Navbar ------- */
header {
    position: relative;
}
header nav {
    padding: 20px 15px;
    position: relative;
    font-size: 1.5rem;
    color: var(--clr-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo a {
    text-decoration: underline;
    font-weight: 900;
}
.nav-links {
    position: absolute; top: -400px; left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 100%;
    background-color: var(--clr-primary);
    z-index: 100;
    transition: top 0.5s, opacity 0.5s;
    transition-timing-function: ease-out;
}
#menuToggler {
    display: none;
}
nav .active-btn {
    display: none;
}
#menuToggler:checked + .nav-links {
    top: 70px;
    opacity: 1
}
.nav-links ul {
    padding: 15px 0;
}
.nav-links ul li {
    padding: 12px 0;
}
.nav-links ul li a {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
    color: #dedede;
    opacity: 0.8;
    transition: opacity 0.4s, color 0.4s;
}
.nav-links ul li a:hover {
    opacity: 1;
    color: #ebebeb;
}
.banner-intro .container {
    padding: 150px 0;
    background-image: url(../images/bg-1.svg);
    background-size: cover;
    background-position: center;
}
.banner-page .container {
    padding: 180px 0;
    background: linear-gradient(to top left, rgb(28, 25, 25), rgb(0, 0, 0));
}
.banner-content {
    width: 80%;
    margin-inline: auto;
    text-align: center;
}
.banner-content :is(h1, p) {
    color: #fff;
}
.banner-content h1 {
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 0.4em;
}
.banner-content .active-btn {
    margin-top: 2em;
    font-size: 0.9rem;
    color: #000;
    background-color: #fff;
    transition: opacity 0.4s;
}
.banner-content .active-btn:hover {
    opacity: 0.9;
}
.intro-headline {
    width: 81%;
    margin: 100px auto 100px;
    text-align: center;
}
.intro-headline h2 {
    line-height: 1.6em;
}


/* ****ABOUT.HTML**** */

.about-content {
    max-width: 70ch;
    margin-inline: auto;
}
.icon-service {
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}
.icon-service:hover {
    transform: scale(1.2);
}


/* ****WORK.HTML**** */

.product-line-content {
    margin-bottom: 100px;
}
.product-line-content img {
    width: 100%;
}
.product-line-content h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.product-line-content p {
    margin: 0;
}


/* ****TEAM.HTML**** */

.place-your-photo {
    height: 400px;
    width: 100%;
    background: #f0f0f0;
    transition: transform 0.5s;
}
.place-your-photo:hover {
    transform: scale(1.05);
}
.team-content h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.team-content p {
    margin: 0;
}


/* ****BLOG.HTML**** */

.blog-article {
    margin-bottom: 100px;
    text-align: left;
}
.blog-article img {
    width: 100%;
}
.blog-article-content {
    max-width: 800px;
    margin-inline: auto;
}
.blog-article-content h3 {
    font-size: 1.9rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.blog-article-content p {
    margin-bottom: 1.5em
}


/* ****CONTACT.HTML**** */

.contact-sub-section {
    width: 80%;
    margin-inline: auto;
}
.contact-form {
    border: 1px solid rgb(227, 227, 227);
    padding: 25px;
}
.input-wrap {
    margin-top: 30px;
    text-align: left;
}
.input-wrap label {
    display: inline-block;
    margin: 30px 0 10px 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
}
.input-wrap :is(input[type="text"], input[type="email"], textarea) {
    display: block;
    outline: none;
    border: 1px solid rgb(227, 227, 227);
    width: 100%;
    padding: 15px;
    font-size: 0.9rem;
    resize: none;
}
.input-wrap :is(input::placeholder, textarea::placeholder) {
    color: var(--clr-primary);
    opacity: 0.4;
}
.input-wrap .active-btn {
    margin-top: 30px;
    width: 100%;
}
.adress-col {
    margin: 70px auto 0;
}
.adress-col-line {
    margin: 30px 0;
}
.adress-col-line:first-child {
    margin-top: 0;
}
.adress-col-line h6 {
    text-transform: uppercase;
    font-size: 0.8rem;
}
.adress-col-line p {
    margin-top: 15px;
}
.adress-col-line a {
    text-decoration: underline;
}